.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  text-align: center;
}

.imageWrapper {
  max-height: 620px;
  max-width: 750px;
  border: 1px solid black;
  display: flex;
}

.image {
  max-height: 620px;
  max-width: 750px;
}

.content {
  padding: 20px;
  font-size: 20px;
  max-width: 100%;
}

.createdBy {
  margin-bottom: 20px;
  font-size: 14px;
  color: rgb(54, 54, 54);
}
