.item {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 24px;
  font-weight: bolder;
}

.description {
  font-size: 18px;
}

.subscribe {
  display: flex;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
}
